<!DOCTYPE html>
<html>
    <head>
        <title>Testing Post Malone | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="/styles.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script src="/store.js" defer></script>
        <script>
            var stripePublicKey='<%= stripePublicKey %>' //move the variable assignment here
        </script>
        <script>
        window.onload = function() {
        var titleLink = document.getElementById ("title-link") ;
        titleLink.addEventListener("click", function() {
        window.location.href=
        "other1.html";
        });
        };
        </script>
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="post-malone post-malone-big">Post Malone</h1>
        </header>
        <section class="content-section container">
            <h2 class="section-header">Album</h2>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%- item.id %>">
                    <div>
                        <span class="shop-item-title"><%- item.name %></span>
                    </div>
                    <img class="shop-item-img" src="post images/<%- item.imgName %>" width="250">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%- item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button btn-primary4" role="button">Add To Cart</button>
                    </div>
                </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Merch</h2>
            <div class="shop-items">
                <div class="merch-wrapper"> <!-- Add this wrapper div -->
                    <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%- item.id %>">
                        <div>
                            <span class="shop-item-title"><%- item.name %></span>
                        </div>
                        <img class="shop-item-img" src="post images/<%- item.imgName %>" width="250">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%- item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" role="button">Add To Cart</button>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Cart</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items"></div>
            <div>
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <div>
                <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            </div>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container"> 
                <h3 class="post-malone-footer">Post Malone</h3>
                    <ul class="nav footer-nav">
                        <li><a href="https://www.youtube.com/channel/UCeLHszkByNZtPKcaVXOCOQQ" target="_blank"><img src="images/youtube-logo-removebg.png" class="footer-logo"></a></li>
                        <li><a href="https://open.spotify.com/artist/246dkjvS1zLTtiykXe5h60?si=mrSviUf5QbyyBdStsmaqUQ" target="_blank"><img src="images/spotify-logo-removebg.png" class="footer-logo"></a></li>
                        <li><a href="https://www.instagram.com/postmalone/" target="_blank"><img src="images/instagram-logo-removebg.png" class="footer-logo"></a></li> 
                    </ul>
            </div>
        </footer> 
    </body>
</html>
